.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    min-width: 90%;
    height: 85%;
    background-color: rgb(59, 59, 59);
}

.container_editor {
    /* background-color: pink; */
    width: 38%;
    height: 90%;
    float: left;
    margin-left: 1%;
}

.container_output {
    /* background-color: pink; */
    width: 38%;
    height: 90%;
    float: left;
    
}

.container_content {
    width: 23%;
    height: 81%;
    float: left;
    margin-top: 5px;
    color: white;
    
 
}

#lesson_description {
    color: #05da05;
}

.CodeMirror {
    margin-top: 5px;
    min-width: 97%;
}

#hint-img {
    max-width: 50px;
    height: auto;
    background-color: #969696;
    padding: 2px;
    margin-left: 1%;
}

#hint-img:hover {
    background-color: #7a7979;
}

#lesson_title {
    
    text-align: center;
    vertical-align: middle;
    color: white;
}

