html {
    height: 100%;
}
body {
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
    height: 100%;
}

#logo-img{
    max-width: 175px;
    height: auto;
    margin-right: 25px;
}

.navbar-custom {
    background-color: #162031;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #cfcbcb;
}

.nav-left > li{
    margin-left: 50px;
}
.nav-right > li{
    margin-right: 100px;
}

.error {
    color: white;
    text-align: center;
}

#logback-in {
    text-align: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}