{% extends "classroom_main/base.html" %}
{% load static %}
{% block customlinks %}

    <script src="{% static 'lesson/codemirror/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lesson/codemirror/lib/codemirror.css' %}">
    <!--<script src="{% static 'lesson/codemirror/mode/javascript/javascript.js' %}"></script> ADD IN LANGUAGE MODE HERE FOR EACH PAGE -->
    {% if language == "javascript"%}
        <script src="{% static 'lesson/codemirror/mode/javascript/javascript.js' %}"></script>
    {% endif %}
    {% if language == "python"%}
        <script src="{% static 'lesson/codemirror/mode/python/python.js' %}"></script>
    {% endif %}
    {% if language == "html_and_css"%}
        <script src="{% static 'lesson/codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
    {% endif %}
    {% if language is None %}
        <script src="{% static 'lesson/codemirror/mode/javascript/javascript.js' %}"></script>
        <script src="{% static 'lesson/codemirror/mode/markdown/markdown.js' %}"></script>
    {% endif %}
    <script src="{% static 'lesson/codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'lesson/codemirror/addon/edit/closebrackets.js' %}"></script>
    <link href="{% static 'lesson/codemirror/theme/dracula.css' %}" rel="stylesheet"/>
    <script src="{% static 'lesson/editor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lesson/lesson.css' %}">


    <script>
    $(function(){
        $(".alert").alert();

        $("#run_code").click(function(){
            var editor_input = $(".CodeMirror")[0].CodeMirror;
            var untrusted_code = editor_input.getValue();
            console.log("Button works");

            $.ajax({
                url: '{% url 'get_code' %}',
                data: {
                    'untrustedCode': untrusted_code
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    let result = data["output"];
                    var msg = check_result(result, untrusted_code);
                    var full_output = result + "\n\n" + msg;
                    var editor_output = $(".CodeMirror")[1].CodeMirror;
                    editor_output.setValue(full_output);
                }
            });
        });
        {% autoescape off %}
        {{lesson.check_result}}
        {% endautoescape %}
    });
    </script>
{% endblock customlinks %}
{% block content %}


<div class="container">
    {% csrf_token %}
    <div id="top">
        {% if lesson.lesson_title %}
        <h1 id="lesson_title">{{ lesson.lesson_title }}</h1>
        {% else %}
        <h1 id="lesson_title">Lesson Title Placeholder</h1>
        {% endif %}
        <a href="#hint_modal" role="button" data-toggle="modal"><img id="hint-img" src="{% static 'lesson/images/hint.png' %}"></a>
    </div>
    <div class="container_editor">  
        <textarea id="editor_input" name="editor_input">
        {{lesson.lesson_code}}
        </textarea>
    </div>
    <div class="container_output">
        <textarea id="editor_output">
        </textarea>
    </div>
    <div class="container_content">
        <h4>Lesson Objective:</h4>
        <p id="lesson_description">
            {% if lesson.lesson_description %}
            {{ lesson.lesson_description }}
            {% else %}
            Lesson Description Placeholder
            {% endif %}
        </p>
        <br>
        <h5>What are {{ lesson.lesson_title }}?:</h5>
        <p id="lesson_content">
            {% if lesson.lesson_content %}
                {{ lesson.lesson_content|linebreaks }}
            {% else %}
                Lesson Description Placeholder
            {% endif %}
        </p>
    </div>
    <button id="run_code" class="btn btn-secondary">Run Code</button>
    <button id="next_lesson" class="btn btn-success">Next Lesson</button>
</div>

<!-- Hint Modal -->
<div class="modal fade" id="hint_modal" tabindex="-1" role="dialog" aria-labelledby="hint_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hint_modal_label">
            {% if lessonHint.hint_title %}
                {{ lessonHint.hint_title }}
            {% else %}
                Lesson Hint Placeholder
            {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if lessonHint.hint_description %}
            {{ lessonHint.hint_description }}
        {% else %}
            Hint Description Placeholder
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div id="success_modal" class="modal fade" data-backdrop='static' data-keyboard='false'>
	<div class="modal-dialog modal-success">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<div class="icon">
					<i class="material-icons">&#xE876;</i>
				</div>
			</div>
			<div class="modal-body text-center">
				<h4>Lesson Complete!</h4>	
				<p>Move on to the next lesson!</p>
                {% if nextLesson %}
				<a href="{% url 'lesson-lesson-specific' languageTitle=language lessonTitle=nextLesson %}" class="btn btn-success"><span>Next Lesson</span> <i class="material-icons">&#xE5C8;</i></a><!-- This to link to next lesson -->
                {% else %}
                <a href="{% url 'classroom-home' %}" class="btn btn-success"><span>Next Lesson</span> <i class="material-icons">&#xE5C8;</i></a>
                {% endif %}
			</div>
		</div>
	</div>
</div>     
{% endblock %}