{% extends "lesson/select_base.html" %}
{% load static %}

{% block selections %}
    <div id="top">
        <h1 class="heading">Select a lesson to start</h1>
    </div>
    <div class="row">
    {% if environments %}
    {% for environment in environments %}
    {% ifequal forloop.counter|divisibleby:"4" False %}
        <div class="col-sm-6 col-lg-3 py-2 mx-auto">
            <div class="card h-100">
                <div class="card-body">
                        <h4 class="card-title">{{environment.environment_name}}</h4>
                        <p class="card-text">{{environment.description}}</p>
                        <a href="{% url 'lesson-select-language' environmentName=environment.environment_name %}" class="btn btn-secondary btn-sm">Select Language</a>
                </div>
            </div>
        </div>
    {% else %}
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-3 py-2 mx-auto">
            <div class="card h-100">
                <div class="card-body">
                        <h4 class="card-title">{{environment.environment_name}}</h4>
                        <p class="card-text">{{environment.description}}</p>
                        <a href="{% url 'lesson-select-language' environmentName=environment.environment_name %}" class="btn btn-secondary btn-sm">Select Language</a>
                </div>
            </div>
        </div>
    {% endifequal %}
    {% if forloop.last == True %}
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}

{% endblock selections %}